altair @ file:///home/conda/feedstock_root/build_artifacts/altair_1640799865332/work
altair-data-server==0.4.1
altair-saver==0.5.0
altair-viewer @ file:///home/conda/feedstock_root/build_artifacts/altair_viewer_1636219261993/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1618968359944/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1643636307408/work
Brotli==1.0.9
brotlipy @ file:///D:/bld/brotlipy_1636012457296/work
certifi==2021.10.8
cffi @ file:///D:/bld/cffi_1636046270630/work
click @ file:///D:/bld/click_1635822759200/work
cryptography @ file:///D:/bld/cryptography_1639699517190/work
dash==2.1.0
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.8.3
dash-table==5.0.0
Flask==2.0.2
Flask-Compress==1.10.1
future==0.18.2
gunicorn==20.1.0
importlib-metadata @ file:///D:/bld/importlib-metadata_1644556187883/work
ipykernel @ file:///D:/bld/ipykernel_1644262809313/work/dist/ipykernel-6.9.0-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1642613902157/work
itsdangerous==2.0.1
jedi @ file:///D:/bld/jedi_1637175265063/work
jupyter-core @ file:///D:/bld/jupyter_core_1636814417151/work
MarkupSafe @ file:///D:/bld/markupsafe_1635833738092/work
mypy-extensions @ file:///D:/bld/mypy_extensions_1635839883962/work
numpy @ file:///D:/bld/numpy_1643959173277/work
pandas @ file:///D:/bld/pandas_1644670137086/work
plotly==5.6.0
psutil @ file:///D:/bld/psutil_1640887303421/work
pyrsistent @ file:///D:/bld/pyrsistent_1642534566074/work
PySocks @ file:///D:/bld/pysocks_1635862594204/work
pywin32==303
pyzmq @ file:///D:/bld/pyzmq_1635877387650/work
sniffio @ file:///D:/bld/sniffio_1635844829053/work
tenacity==8.0.1
tornado @ file:///D:/bld/tornado_1635819761050/work
trio @ file:///D:/bld/trio_1636214343691/work
typed-ast @ file:///D:/bld/typed-ast_1643046055864/work
vega-datasets
Werkzeug==2.0.3
win-inet-pton @ file:///D:/bld/win_inet_pton_1635832844911/work
wsproto @ file:///D:/bld/wsproto_1636122202150/work

